<html>
<head>
    <title>بازیابی رمز ورود</title>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
    <style type="text/css">
        .forgot-form {
            width: 340px;
            margin: 50px auto;
        }
        .forgot-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .forgot-form h2 {
            margin: 0 0 15px;
        }
        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }
        .btn {
            font-size: 15px;
            font-weight: bold;
        }
        ::-webkit-input-placeholder { text-align:right; }
    </style>
</head>

<body>

{% embed 'header.twig' %}
{% endembed %}

{% if alert['mail_sent'] ==  'sent' %}
    <div dir="rtl" class="alert alert-primary" role="alert">
        ایمیل خود را برای بازیابی رمز ورود بررسی کنید.
    </div>
{% endif %}
{% if alert['mail_sent'] ==  'failed' %}
    <div dir="rtl" class="alert alert-primary" role="alert">
        ارسال ایمیل با شکست مواجه شد. مجددا تلاش کنید.
    </div>
{% endif %}

<div class="forgot-form">
    {{ form_start(form) }}
        <h2 class="text-center">بازیابی رمز ورود</h2>
        <div class="form-group">
            {{ form_widget(form.email, {'attr':{'class':'form-control', 'placeholder':'ایمیل'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.send, {'label':'ارسال','attr':{'class':'btn btn-primary btn-block'} }) }}

        </div>
    {{ form_end(form) }}
</div>
</body>
</html>