{% set name = session.get('name') %}
{% set email = session.get('email') %}
{% if email=='' %}
    {% set name = 'میهمان' %}
    {% set status = 'guest' %}
{% endif %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if status!='guest' %}
                <li class="nav-item active">
                    <a class="nav-link" href="/blog/logout" dir="rtl">خروج</a>
                </li>'
                <li class="nav-item active">
                    <a class="nav-link" href="/blog/profile" dir="rtl">نمایه</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/blog/panel/new-post" dir="rtl">پنل کاربری</a>
                </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="/blog/login" dir="rtl">ورود</a>
            </li>
            {% endif %}
            <li class="nav-item active">
                <a class="nav-link" href="/blog/" dir="rtl">بلاگ</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" dir="rtl">سلام
                {{ name }}
                </a>
            </li>
        </ul>
    </div>
</nav>