<html>
<head>
    <title>پنل  کاربری</title>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
    <style>
        .post-form {
            width: 80%;
            margin: 50px auto;
        }
        .post-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .post-form h2 {
            margin: 0 0 15px;
        }

    </style>
</head>
<body>
{% embed 'header.twig' %}
{% endembed %}
<div class="post-form">
    {{ form_start(form) }}
        <h2 class="text-center">ایجاد پست جدید</h2>
        <div class="form-group">
            {{ form_widget(form.title, {'attr':{'class':'form-control', 'dir':'rtl'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.text, {'attr':{'class':'form-control', 'dir':'rtl'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.post, {'label':'ثبت' ,'attr':{'class':'btn btn-primary btn-block'}}) }}
        </div>
    {{ form_end(form) }}
</div>

</body>
</html>