<html>
<head>
    <title>نمایه</title>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
    <style>
        .profile-card {
            width: 40%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
{% embed 'header.twig' %}
{% endembed %}
<div class="profile-card">
    <div class="card" style="width: 18rem;">
        {% if author.getAvatarUuid != '' %}
            <img class="card-img-top" src="/blog/files/{{ author.getAvatarUuid }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ author.getName }}</h5>
            <p class="card-text">{{ author.getBio }}</p>
            <form method="get" action="/blog/profile/edit">
                <button type="submit" class="btn btn-primary">ویرایش</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>